<div id="wrapper">
  <!-- <form [formGroup]="postForm" (ngSubmit)="addItem()">
    <label>
      User ID:
      <input type="number" formControlName="userId">
    </label>

    <label>
      Title:
      <input type="text" formControlName="title">
    </label>

    <label>
      Body:
      <input type="text" formControlName="body">
    </label>

    <button class="btn btn-info my-4 btn-block" type="submit">+</button>
  </form> -->
  <form (ngSubmit)="addItem()">
    userId: <input type="text" [(ngModel)]="newPost.userId" placeholder="Item" name="userId">
    title: <input type="text" [(ngModel)]="newPost.title" placeholder="Item" name="title">
    body: <input type="text" [(ngModel)]="newPost.body" placeholder="Item" name="body">
    <button type="submit">+</button>
  </form>
  <hr>
  <div id="list">
    <h2>post List</h2>
    <ul>
      <li *ngFor="let p of posts$ | async">
        {{ p.userId}} {{ p.title }} {{ p.body }}
      </li>
    </ul>
  </div>
</div>
